html, body {
	background-color: #eee;
	color: #444;
}

body {
	overflow-y: scroll;
}

header, .mdl-layout__header {
	width: 950px;
}

a {
	color: rgb(255,96,32);
}

table {
	border: 1px solid #aaa;
	border-spacing: 0;
}

td {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
}

th {
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #ccc;
}

.q {
	color: #48ddbc;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active {
	color: rgb(255,171,64);	
}

.mdl-layout__container {
	position: relative;
	width: 950px;
	height: inherit;
}

.mdl-layout {
	height: inherit;
}

.mdl-layout__tab-bar-container {
	width: 100%;
	padding: 0;
}

.card {
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	margin-bottom: 20px;
}

.feature-card {
	padding: 0;
	height: 300px;
	width: 950px;
}

.info-card img {
	width: 100%;
	border-radius: 0px;
}

#header {
	height: 300px;
	background-image: url('img/backgrounds/0.jpg');
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

#footer {
	display: block;
	width: 950px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 16px;
}

#main-container {
	position: relative;
	z-index: 0;
	margin: auto;
	min-height: calc(100%);
	max-width: 950px;
	display: block;
}

#header-contents {
	color: white;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	margin-top: 80px;
}

#quark-logo {
	margin-left: 40px;
	margin-top: 20px;
	width: 200px;
}

#download-button {
	position: absolute;
	top: 200px;
	left: calc(50% + 375px);
}

#download-section {
	position: absolute;
	top: 270px;
	left: calc(50% + 40px);
}

#btt-button {
	position: fixed;
	z-index: 1;
	top: calc(100% - 70px);
	left: calc(50% + 505px);
}

.mdl-layout__tab {
	color: black;
}

.title {
	font-size: 70px;
	height: 45px;
	text-shadow: 2px 3px 2px black;
}

.subtitle {
	margin-left: 35px;
	font-size: 20px;
} 

.mdl-layout__tab-bar-button {
	display: none;
}

.mdl-layout__tab-panel:not(.is-active) {
	display: none;
}

.module-info {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.module-title {
	font-size: 60px;
	height: 40px;
}

.module-desc {
	font-size: 18px;
}

.feature-image {
	width: 300px;
}

.feature-info {
	display: inline-block;
	vertical-align: top;
	width: 650px;
	font-size: 14px;
	margin-left: -4px;
}

.feature-info ul {
	margin-top: 0px;
	font-size: 14px;
}

.feature-title {
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	border-bottom: 1px #ccc solid;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
}

.feature-desc {
	display:  block;
	padding: 10px;
	height: 199px;
}

.feature-versions {
	height: 30px;
	border-top: 1px #ccc solid;
	padding-left: 4px;
}

.version-display {
	display: inline-block;
	line-height: 30px;
	text-align: center;
	margin-left: -4px;
	border-right: 1px solid rgba(0, 0, 0, 0.26);
	color: rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 255, 0, 0.15);
	width: 60px;
}

.version-display-off {
	background-color: rgba(255, 0, 0, 0.15);
}

.version-display-overlap {
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	cursor: default;
}

.version-display-overlap .material-icons {
	font-size: 12px;
}

.contributor-info, .vanilla-info {
	position: relative;
	display: block;
	height: 0px;
	top: 170px;
	font-size: 16px;
}

.contributor-info > .material-icons, .vanilla-info > .material-icons {
	position: relative;
	top: 3px;
	font-size: 20px;
	margin-right: 5px;
	color: #b30000;
}

.vanilla-info > .material-icons {
	color: gold;
}

#main-image {
	margin-left: -20px;
	width: 950px;
	margin-bottom: 15px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.26);
}

 #sellout-image {
	position: absolute;
	top: 10px;
	z-index: 100;
	left: calc(50% + 270px);
	width: 200px;
 }

.hyperlink-button-container {
	margin-top: -50px;
	margin-left: 900px;
	width: 35px;
	height: 35px;
}

.hyperlink-button-container.with-album {
	margin-left: 852px;
	width: 100px;
}

.album-button {
	margin-right: 10px;
}

.hyperlink-button-container button {
	min-width: 0px;
	width: 35px;
	height: 35px;
}

.feature-button-enabled {
	background-color: #4CAF50 !important; 
}

.feature-button-disabled {
	background-color: #FF5252 !important; 
}

#import-string-container {
	position: fixed;
	z-index: 1;
	background-color: #323232;
	color: white;
	border-radius: 10px 10px 0px 0px;
	top: calc(100% - 60px);
	left: calc(50% - 400px);
	width: 800px;
	height: 90px;
	box-shadow: -2px -2px 2px 0px rgba(0,0,0,.3);
	margin-top: 100px;
	padding: 10px;
}

#import-string-desc {
	display: inline-block;
	vertical-align: top;
	width: 655px;
}

#import-string-button {
	display: inline-block;
	text-align: center;
	width: 100px;
	color: #FFAB40;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 25px;
}

@media screen and (max-device-width: 480px) {

	body {
		width: 100%;
	}

	header, .mdl-layout__header {
		width: 100%;
	}

	html, body {
		max-width: 100%;
		overflow-x: hidden;
	}

	#main-container {
		width: 100%;
	}

	.page-content {
		padding-left: 15px;
		width: calc(100% - 20px);
	}

	#download-button {
		height: 80px;
		width: 80px;
	}

	#btt-button {
		height: 80px;
		width: 80px;
		top: calc(100% - 110px);
		left: calc(100% - 110px);
	}

	.subtitle {
		margin-top: 10px;
		font-size: 30px;
	}

	.module-desc {
    	font-size: 28px;
	}

	.mdl-layout__tab-bar-container {
		height: 80px;
	}

	.mdl-layout__header {
		display: block;
		height: 80px;
	}

	.mdl-layout__tab {
		z-index: 1;
		width: 200px;
		font-size: 25px;
		line-height: 70px;
		height: 70px
	}
	
}

@media screen and (max-width: 1024px) {

	.mdl-layout__header {
		display: block;
	}

}